# IntelliJ project files

.idea/
*.iml
*.ipr
*.iws

# 名称附带/，代表文件夹
out/
bin/
gen/
local.properties

# Android Studio
build/
.gradle

# Eclipse project files
.project
.settings/
.classpath

# os自动生成的内容
.DS_Store
Thumbs.db